<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.zeroil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/zeroillogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/zeroillogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DIT">
        <activity android:name=".Details"></activity>
        <activity
            android:name=".HomePageActivity"
            android:label="HomePage" />
        <activity
            android:name=".DropOff"
            android:label="Go Recycle" />
        <activity android:name=".Success" />
        <activity android:name=".SignUp" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".GoLearn"
            android:label="Go Learn" />
        <activity
            android:name=".DropOffDetails"
            android:label="Drop Off Details" />
        <activity
            android:name=".UserProfile"
            android:label="Profile Page" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />
    </application>

</manifest>